/* 全局样式 */
body {
  background-color: hsl(200, 5%, 21%); /* 背景亮度50% */
  color: #ffffff; /* 全局字体颜色为纯白 */
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* 添加阴影增强清晰度 */
}

/* 针对段落 */
p {
  color: #ffffff !important; /* 强制字体为白色 */
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) !important; /* 强制增加阴影，保持清晰度 */
}
span{
  color: #ffffff !important; /* 强制字体为白色 */
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) !important; /* 强制增加阴影，保持清晰度 */
}
div{
  color: #ffffff !important; /* 强制字体为白色 */
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) !important; /* 强制增加阴影，保持清晰度 */
}
/* 针对标题 */
h1, h2, h3, h4, h5, h6 {
  color: #ffffff !important; /* 强制字体为白色 */
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) !important; /* 强制增加阴影，保持清晰度 */
}


h1.catalogue-title {
  color: #ffffff !important; /* 强制字体为白色 */
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) !important; /* 强制增加阴影，保持清晰度 */
}
h1.post-title {
  color: #ffffff !important; /* 强制字体为白色 */
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) !important; /* 强制增加阴影，保持清晰度 */
}
h2.nav-title {
  color: #ffffff !important; /* 强制字体为白色 */
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) !important; /* 强制增加阴影，保持清晰度 */
}

/* 针对链接样式 */
a {
  color: #ffffff !important; /* 链接字体颜色调整为白色 */
  text-decoration: underline;
  font-weight: bold;
}
/* 针对 .highlight 类代码块，保持默认或预定义的颜色样式 */
pre.highlight, code {
  background-color: #f5f5f5; /* 设定浅色背景 */
  color: #333333; /* 设置代码文字为深色，常用的黑色或灰色 */
  padding: 10px; /* 设定一点内边距让文字更易读 */
  border: 1px solid #dddddd; /* 添加浅色边框以区分代码块 */
  overflow-x: auto; /* 使长代码能够左右滚动，而不是自动换行 */
  font-family: 'Courier New', monospace; /* 使用等宽字体，方便阅读代码 */
}
