<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>

          <li><a href="{{ '/2025/' | prepend: site.url }}">2025</a></li>
          <li><a href="{{ '/2024/' | prepend: site.url }}">2024</a></li>
          <li><a href="{{ '/Java专题/' | prepend: site.url }}">Java专题</a></li>
          <li><a href="{{ '/PHP专题/' | prepend: site.url }}">PHP专题</a></li>
          <li><a href="{{ '/About/' | prepend: site.url }}">About</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.BUG
    <div>
        访问人数 <span id="u"></span>
        总访问量 <span id="v"></span>
    </div>
    <script>
    let uid=localStorage.i||(localStorage.u=+localStorage.u+1||1,localStorage.i='1');
    localStorage.v=+localStorage.v+1||1;
    //这是爱情的起点,也是XinYiSleep的起点
    u.innerText=localStorage.u;
    v.innerText=localStorage.v;
    </script>
      </span>
    </footer>
  </body>
</html>
