---
layout: default
---

<article class="post">
  <header class="post-header">
    <p class="post-author">
      <span>by {{ page.author }}</span>
      {% if page.date %}
      <span> &bull; </span>
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
      {% endif %}
    </p>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <hr class="post-divider">

  <div class="post-content">
    {{ content }}
  </div>
</article>

<nav class="post-navigation">
  {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.url }}" class="nav-link prev" title="Previous Post">&#x25C0; Previous</a>
  {% endif %}
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.url }}" class="nav-link next" title="Next Post">Next &#x25B6;</a>
  {% endif %}
  <a href="#" class="nav-link top" title="Go to top">↑ Top</a>
</nav>
